<div class="card highlight-card card-small" style="height: 150px; width: 400px;">
    <table>
        <tr>
            <td>a&nbsp;brand&nbsp;has&nbsp;the&nbsp;most&nbsp;products&nbsp;that&nbsp;cost&nbsp;less&nbsp;than&nbsp;&euro;&nbsp;40</td>
        </tr>
        <tr align="center">
            <td>{{ topBrandLess40 }}&nbsp;products</td>
        </tr>
        <tr>
            <td>a&nbsp;brand&nbsp;offers&nbsp;the&nbsp;largest&nbsp;selection&nbsp;of&nbsp;sizes</td>
        </tr>
        <tr align="center">
            <td>{{ sizes }}&nbsp;sizes</td>
        </tr>
        <tr>
            <td>a&nbsp;brand&nbsp;offers&nbsp;the&nbsp;lowest&nbsp;average&nbsp;price&nbsp;at&nbsp;size&nbsp;32</td>
        </tr>
        <tr align="center">
            <td>{{ priceSize32 }}&nbsp;&euro;</td>
        </tr>
    </table>
</div>